i.test-icon {
  display: block;
  width: 26px;
  height: 26px;
  background: none no-repeat center center; }
  i.test-icon.arrlink {
    background-image: url("../icons/svg/oah_icons/oah-arrlink2.svg"); }
  i.test-icon.bubbles {
    background-image: url("../icons/svg/oah_icons/oah-bubbles.svg"); }
  i.test-icon.arrdown-thin {
    background-image: url("../icons/svg/oah_icons/oah-arrdown-thin.svg"); }
  i.test-icon.apply {
    background-image: url("../icons/svg/oah_icons/oah-apply.svg"); }
  i.test-icon.arrow-left {
    background-image: url("../icons/svg/oah_icons/oah-arrow-left.svg"); }
  i.test-icon.arrow-down {
    background-image: url("../icons/svg/oah_icons/oah-arrow-down.svg"); }
  i.test-icon.arrow-right {
    background-image: url("../icons/svg/oah_icons/oah-arrow-right.svg"); }
  i.test-icon.arrow-double-left {
    background-image: url("../icons/svg/oah_icons/oah-arrow-left-dual.svg"); }
  i.test-icon.arrow-double-right {
    background-image: url("../icons/svg/oah_icons/oah-arrow-right-dual.svg"); }
  i.test-icon.edit {
    background-image: url("../icons/svg/oah_icons/oah-edit.svg"); }
  i.test-icon.edit_cms {
    background-image: url("../icons/svg/cms_s3.svg"); }
  i.test-icon.print {
    background-image: url("../icons/svg/oah_icons/oah-print.svg"); }
  i.test-icon.plus-circle {
    background-image: url("../icons/svg/oah_icons/oah-add-circle-large.svg"); }
  i.test-icon.mail-incoming {
    background-image: url("../icons/svg/oah_icons/oah-mail-incoming.svg"); }
  i.test-icon.settings {
    background-image: url("../icons/svg/oah_icons/oah-settings.svg"); }
  i.test-icon.settings-dotted {
    background-image: url("../icons/svg/oah_icons/oah-settings-dotted.svg"); }
  i.test-icon.copy {
    background-image: url("../icons/svg/oah_icons/oah-copy.svg"); }
  i.test-icon.plus {
    background-image: url("../icons/svg/oah_icons/oah-add-crm.svg"); }
    i.test-icon.plus.black {
      background-image: url("../icons/svg/oah_icons/oah-add-crm-black.svg"); }
  i.test-icon.home {
    background-image: url("../icons/svg/oah_icons/oah-home.svg"); }
  i.test-icon.draggable {
    width: 7.5px;
    height: 22.5px;
    background-image: url("../icons/svg/oah_icons/oah-dragable.svg");
    opacity: 0.4; }
  i.test-icon.trash {
    background-image: url("../icons/svg/oah_icons/oah-trash.svg"); }
  i.test-icon.close {
    width: 30px;
    height: 30px;
    background-image: url("../icons/svg/ic-win-close.svg"); }
  i.test-icon.notice-orange {
    background-image: url("../icons/svg/oah_icons/oah-notice-orange.svg"); }
  i.test-icon.noticedenied-filled {
    background-image: url("../icons/svg/oah_icons/oah-noticedenied-filled.svg"); }
  i.test-icon.noticedenied-red {
    background-image: url("../icons/svg/oah_icons/oah-noticedenied-red.svg"); }
  i.test-icon.notice-green {
    background-image: url("../icons/svg/oah_icons/oah-noticegood2-green.svg"); }
  i.test-icon.brush {
    background-image: url("../icons/svg/oah_icons/oah-brush.svg"); }
  i.test-icon.user {
    background-image: url("../icons/svg/user_icon.svg"); }
  i.test-icon.key {
    background-image: url("../icons/svg/oah_icons/oah-key.svg"); }
  i.test-icon.devphone {
    background-image: url("../icons/svg/oah_icons/oah-devphone.svg"); }
  i.test-icon.mail-new {
    background-image: url("../icons/svg/oah_icons/oah-mail-new.svg"); }
  i.test-icon.spam {
    background-image: url("../icons/svg/oah_icons/oah-spam.svg"); }
    i.test-icon.spam-grey {
      background-image: url("../icons/svg/oah_icons/oah-spam-grey.svg"); }
  i.test-icon.social-vk {
    background-image: url("../icons/svg/oah_icons/oah-social-vk.svg"); }
  i.test-icon.social-ya {
    background-image: url("../icons/svg/oah_icons/oah-social-yax.svg"); }
  i.test-icon.social-fb {
    background-image: url("../icons/svg/oah_icons/oah-social-fb.svg"); }
  i.test-icon.social-ok {
    background-image: url("../icons/svg/oah_icons/oah-social-ok.svg"); }
  i.test-icon.social-tw {
    background-image: url("../icons/svg/oah_icons/oah-social-tw.svg"); }
  i.test-icon.social-gplus {
    background-image: url("../icons/svg/oah_icons/oah-social-gplus.svg"); }
  i.test-icon.social-mru {
    background-image: url("../icons/svg/oah_icons/oah-social-mru.svg"); }
  i.test-icon.flag-ru {
    width: 26px;
    height: 18px;
    background-image: url("../icons/svg/flag-ru.svg"); }

/*# sourceMappingURL=icons.css.map */
