{% extends 'admin/base.html.twig' %}

{% block title %}Пользователь{% endblock %}
{% block subtitle %}Редактирование{% endblock %}
{% block boxTitle %}Изменение пользователя{% endblock %}

{% block boxBody %}
    {{ include('admin/user/_form.html.twig', {'button_label': 'Обновить'}) }}
    <a class="btn btn-default" href="{{ path('admin_user_index') }}">Назад <i class="fa fa-undo"></i></a>
{% endblock %}
